{% load static %}
{% include 'vendor/header.html' %}

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Who we are</h2>
        <p style="text-align: left">Did you know that, from 1996 to 2015, 28% of the U.S. population :
          almost 45 million of people in some years was exposed to unsafe drinking water ?</p>

        <p style="text-align: left">What’s in my water is a non-profit organization,
          who aims to make information more accessible for American citizens.</p>

        <p style="text-align: left">Water is a vital and precious resource, which is why we want access to clean
          drinking water for everyone.</p>

        <p style="text-align: left">Each quarter, we centralize data from all U.S. states, in order to analyze them
          and to inform the population about the drinking water contamination.</p>

        <p style="text-align: left">Everyone deserves the right to clean and safe drinking water,
          so let’s continue to fight for the American communities that need our help."</p>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio-->

<!-- <section id="about-us" class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>About us</h2>
          <p>Did you know that, from 1996 to 2015, 28% of the U.S. population : almost 45 million of people in some
            years was exposed to unsafe drinking water ?
            What’s in my water is a non-profit organization, who aims to make information more accessible for American
            citizens.
            Water is a vital and precious resource, which is why we want access to clean drinking water for everyone.
            Each quarter, we centralize data from all U.S. states, in order to analyze them and to inform the
            population about the drinking water contamination.
            Everyone deserves the right to clean and safe drinking water, so let’s continue to fight for the American
            communities that need our help."</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="lead">User Experiances</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                aria-valuetransitiongoal="95">95%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
            <p class="lead">Web Design</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                aria-valuetransitiongoal="75">75%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <p class="lead">Programming</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                aria-valuetransitiongoal="60">60%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <p class="lead">Fun</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                aria-valuetransitiongoal="85">85%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
/#about-us -->

<section id="contact">
  <div id="google-map" class="wow fadeIn" data-latitude="52.365629" data-longitude="4.871331" data-wow-duration="1000ms"
    data-wow-delay="400ms"></div>
  <div id="contact-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms"
          data-wow-delay="300ms">
          <h2>Contact Us</h2>
          <p>Feel free to contact us if you have any question about our work !</p>
        </div>
      </div>
      <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
          <div class="col-sm-6">
            <form id="main-contact-form" name="contact-form" method="post" action="#">
              <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message"
                  required="required"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn-submit">Send Now</button>
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p>What's In My Water Headquarter.</p>
              <ul class="address">
                <li><i class="fa fa-map-marker"></i> <span> Address:</span> 27 bis rue du progrès, 93100 Montreuil,
                  France </li>
                <li><i class="fa fa-phone"></i> <span> Phone:</span> +928 336 2000 </li>
                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:contact@afne.com">
                    contact@afne.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#contact-->

{% include 'vendor/footer.html' %}