{% load static %}
{% include 'vendor/header.html' %}

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>What is water pollution ?</h2>
        <p>Water pollution occurs when harmful substances - often chemicals or microorganisms - contaminate a stream,
          river, lake, ocean, aquifer, or other body of water,
          degrading water quality and rendering it toxic to humans or the environment.</p>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio0-->

<section id="team">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>What are the causes of water pollution ?</h2>
        <p>Water is very vulnerable to pollution.
          Known as a « universal solvent » water is able to dissolve more substances than any other liquid on earth.
          It’s also why water is so easily polluted. Toxic substances from farms, towns,
          and factories readily dissolve into and mix with it, causing water pollution.</p>
      </div>
    </div>
  </div>
</section>
<!--/#team-->

<section id="features" class="parallax">
  <div class="container">
    <div class="row count">
      <div class="col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="800ms" data-wow-delay="300ms">
        <i class="fa fa-database"></i>
        <h3 class="timer">370000</h3>
        <p>Data collected and refined</p>
      </div>
    </div>
  </div>
</section>
<!--/#features0-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>What are the health impacts of water pollution ?</h2>
        <p>Water pollution kills. Every year, unsafe water sickens about 1 billion people.
          And low-income communities are
          disproportionately at risk because their homes are often closest to the most polluting industries.</p>
        <p>Diseases spread by unsafe water include cholera, giardia, and typhoid. Even in wealthy nations,
          accidental or illegal releases from sewage treatment facilities, as well as runoff from farms and urban
          areas,
          contribute harmful pathogens to waterways.
          Thousands of people across the United States are sick every year because of water pollution.</p>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio1-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>What about the drinking water ?</h2>
        <p>The United States is facing a crisis when it comes to drinking water,
          tens of millions of Americans could be exposed to unsafe drinking water in any given year,
          consuming a wide spectrum of contaminants, including fecal coliform, lead and arsenic.</p>
        <p>One major problem is that state enforcement agencies lack a systematic
          procedure to select systems for additional inspection and monitoring of drinking water.</p>
        <p>America’s crumbling water infrastructure is failing its citizens, and is in desperate need of repair.
          Part of the problem is the sheer age of many water and sewer pipes. 
          By 2020 the average American pipeline will be 45 years old,
          and some will have been in the ground for as many 150 years. Corroding pipes, lead contamination,
          and other issues have led to widespread panic about the safety of drinking water in the U.S.</p>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio2-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>Some numbers ...</h2>
        <p>In 2015, regarding out of more than 200,000 drinking water contaminations,
          50% of them exceeded the health regulatory limit.</p>
        <p>However, only 6% of these contaminations exceeded the legal limit.</p>
        <img style="width:100%" src="{% static "oxygen/images/limit.png" %}" alt="Limit">
      </div>
    </div>
  </div>
</section>
<!--/#portfolio3-->

<section id="features" class="parallax">
  <div class="container">
    <div class="row count">
      <div class="col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="800ms" data-wow-delay="300ms">
        <i class="fa fa-user"></i>
        <h3 class="timer">315</h3>
        <p>And more chemicals analyzed</p>
      </div>
    </div>
  </div>
</section>
<!--/#features1-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>Which substances are most present in drinking water contamination ?</h2>
        <img style="width:100%" src="{% static "oxygen/images/fivemost.png" %}" alt="Fivemost">
        <p>Lead isn’t the only contaminate to be concerned about when it comes to clean drinking water.</p>
        <p>The nitrate, the trihalomethane, the barium,
          the copper and the chloroform are the five most present substances in drinking water contamination.</p>
        <p>Three of them have high health risks : damages to the liver and kidneys, respiratory and cardiac disorders.</p>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio4-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
        <h2>What are the most affected places by drinking water contamination ?</h2>
        <p>The ten cities the most involved in drinking water contamination in 2015 are represented below :</p>
        <img style="width:100%" src="{% static "oxygen/images/usmap.png" %}" alt="UsMap">
        <p>The majority of the nation's water supply is in good shape but many areas
          are continually prone to poor water quality. It was particularly poor in Oklahoma, Texas and Idaho, where
          water systems had repeat violations.
          Violations were more frequent in rural areas than in urban areas, and low-income,
          rural areas were hit hardest.</p>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio5-->

{% include 'vendor/footer.html' %}