{% load static %}
{% include 'vendor/header.html' %}

<section id="services">
  <div class="container">
    <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h2>What are we doing ?</h2>
          <p>By combining multiple datasources, we're producing an interactive map to visualize water quality in the USA.</p>
          <p>We enable people to discover eventual trace of polluting wastes in their water.</p>
        </div>
      </div>
    </div>
    <div class="text-center our-services">
      <div class="row">
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="service-icon">
            <i class="fas fa-brain"></i>
          </div>
          <div class="service-info">
            <h3>Brainstorming</h3>
            <p>Team-thinking around one issue</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
          <div class="service-icon">
            <i class="fa fa-flask"></i>
          </div>
          <div class="service-info">
            <h3>Collecting and refining of the data</h3>
            <p>We manage the collecting and the processing of the data we are using</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
          <div class="service-icon">
            <i class="fa fa-database"></i>
          </div>
          <div class="service-info">
            <h3>Deployment</h3>
            <p>We keep ourself our project up and running</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#services-->

{% include 'vendor/footer.html' %}