{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>What's in my water ?</title>
</head>
<body>
	<div id="app">
		<header id="header" class="header">
			<a class="header-left" href="/">
				What's in my <span>water ?</span>
			</a>
			<div class="search-box">
				<input class="search-input" type="text" v-on:keyup="onSearch" placeholder="Search by city, supplier name..." >
				<ul v-show="results.length != 0" class="search-results">
					<li v-for="item in results" v-on:click="onMarkerClick(item.id)">
						<span>{% templatetag openvariable %} item.supplier_name {% templatetag closevariable %}</span>
						{% templatetag openvariable %} item.city {% templatetag closevariable %}
					</li>
				</ul>
			</div>
			<div class="header-right">
				<span>{{ source_count }}</span>
				watersources loaded
			</div>
		</header>
		<div id="legend" class="legend">
			<span class="legend-text1">Clean</span>
			<span class="legend-text2">Dirty</span>
			<span class="legend-gradient"></span>
		</div>
		<div class="source-details" v-show="source.hasOwnProperty('city')">
			<div class="source-details-header">
				<h2>{% templatetag openvariable %} source.supplier_name {% templatetag closevariable %}</h2>
				<span class="source-supplier">{% templatetag openvariable %} source.city {% templatetag closevariable %}</span>
				<a href="#" class="close" v-on:click="source = {}"></a>
			</div>

			<div class="source-details-content">
				<div class="source-people-number">
					People served by this source
					<span>{% templatetag openvariable %} source.number_of_people_served {% templatetag closevariable %}</span>
				</div>
				
				<table class="contaminants-table">
					<tr class="table-header">
						<th>Contaminant</th>
						<th>Average</th>
						<th>Health limit</th>
					</tr>
					<tr class="contaminant" v-bind:class="{'is-good': contaminant.score == 'good', 'is-acceptable': contaminant.score == 'acceptable', 'is-bad': contaminant.score == 'bad' }" v-for="contaminant in source.contaminants">
						<td>
							{% templatetag openvariable %} contaminant.contaminant {% templatetag closevariable %}
						</td>
						<td>
							{% templatetag openvariable %} contaminant.average_result {% templatetag closevariable %}
						</td>
						<td>
							{% templatetag openvariable %} contaminant.health_limit {% templatetag closevariable %}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="map" class="map"></div>
	</div>
	<!-- Javascript files -->
	<script src="{% static "/assets/js/app.js" %}"></script>
</body>
</html>