{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>What's in my water ?</title>
	<link rel="stylesheet" href="{% static "/assets/css/app.css" %}"/>
</head>
<body>
	<div id="app">
		<header>
			<div class="search-box">
				<input class="search-input"type="text">
			</div>
		</header>
		<div id="map" class="map"></div>
	</div>
	<!-- Javascript files -->
	<script src="{% static "/assets/js/app.js" %}"></script>
</body>
</html>